.item-container {
    /* display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    height: 200px;
    width: 230px;
    border-bottom: 1px solid #ccc; */

    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    height: 240px;
    padding-right: 9vw;
    /* position: absolute; */
    /* border-bottom: 1px solid #ccc; */
    /*border: 1px solid #ccc; add border to the item container
    /* margin: 5px; add margin to create a gap between the items */
  }

  /* .idx-img{ */
    /* margin-bottom: 170vw; */
  /* } */
  
  .each-restaurant {
    /* max-width: 800px; */
    display: flex;
    flex-direction: row;
    /* width: 52.5vw; */
    padding: 20px;
    /* border: none; */
    background-color: #ffffff;
    /* border-bottom: 1px solid #ccc; */
    /* border-top: 1px solid #ccc; */
    width: 52.5vw;


  }
  
  /* .each-restaurant h1 { */
    /* margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #333; */
  /* } */


  
  .each-restaurant p {
    margin: 13px 0;
    font-size: 16px;
    color: #666;
  }
  
  .each_r_container{
    /* margin-top: 7vw; */
    /* border-radius: 4px; */
    /* max-width: 55rem; */
    /* border-left: 1px solid #ccc; */
    /* border-right: 1px solid #ccc; */
    
    padding-bottom: 6vw;
    /* width: 56% !important; */
    margin-left: 31.3vw;
    display: flex;
    /* overflow: hidden */
  }
  
  .results{
    max-width: 50rem;
    width: 75%;
    /* margin-left: 49vw; */
    display: flex;
    margin-top: 7vw;
    font-size: 3vw;
    }

  .results{
    margin-left: 31.3vw;
    max-width: 800px;
    display: flex;
    width: 52.5vw;
    padding: 20px;
    margin-bottom: 2.5vw;
    border: none;
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
    /* border-top: 1px solid #ccc; */
  }

  .info{
    margin-left: 1vw;
    /* display: flex; */
  }

  .filter-container {
    display: flex;
    margin-bottom: 10px;
    padding-left: 1.2vw;
    max-width: 30px;
    display: inline;
    margin-right: 16px;
    /* margin-left: 5vw; */
  }

  .filter-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  
  .filter-container button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
  }

  .circle {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1.5px solid black;
    text-align: center;
    line-height: 30px;
    /* font-size: 7px; */
    cursor: pointer;
    /* transition: all 0.3s; */
  }
  
  .circle.selected {
    background-color: red;
    color: white;
  }

  .inner-circle {
    /* display: inline-block; */
    /* width: 17px; */
    /* height: 17px; */
    /* margin-top: 2vw; */
    border-radius: 50%;
    color: green;
    display: flex;
  }

  .low{
    /* display: flex; */
    /* background-color: #8b0000; */
    margin-right: -16.5vw;
    margin-bottom: 1vw;
    padding-top: 1vw;
  }

  .filter-option {
    /* display: inline; */
    /* margin-left: 10vw; */
    /* align-items: center; */
    /* justify-content: space-between; */
    /* margin-bottom: 0.5rem; */
  }
  
  /* .filter-container button:hover {
    background-color: #ccc;
  } */
  
  .main_whole_show{
    margin-top: 4.2vw;
  }

  .main_left_show{
    background-color: white;
    /* border-radius: 4px; */
    /* box-sizing: border-box; */
    /* margin-right: 32px; */
    /* padding-top: 127.75px; */
    /* padding-right: 16px; */
    /* padding-bottom: 0; */
    /* padding-left: 16px; */
    /* width: 40rem;     */
    /* margin-left: 15vw; */
    max-height: fit-content;
    /* width: 46vw; */
    position: relative;
    width: 60vw;
  }

  /* .opmr{
    border-bottom: 1px solid #ccc;
    background-color: #333;
  } */

  .under-pic{
    background-color: white;
    /* color: white; */
    display: inline;
    width: 100vw;
    max-height: 100rem;
    margin-top: -18.2vw;
    position:absolute;
    
  }
  
  .names{
    border-bottom: 1px solid #ccc;
    text-align: left;
    font-size: 45px;
    font-weight: 700;
    line-height: 6rem;
    /* margin-top: -10vw; */
    margin-left: 12vw;
    margin-right: 3vw;
  }

  .opmr {
    /* display: flex; */
    /* position: absolute; */
    /* padding-right: 30rem; */
    /* margin-bottom: 1rem; */
    /* top: 0; */
    /* right: 0; */
    /* background-color: #bf0e3e; */
    /* z-index: 1; */
    /* border-bottom: 1px solid #ccc; */
  }

  /* .under-buttons {
    flex: 1;
    text-align: right;
  } */
  
  .opmr {
    /* position: relative; */
    background-color: white;
    /* padding: 0.5rem; */
    border-radius: 0.5rem;
    /* box-shadow: 0 0.05rem 0.5rem rgba(0, 0, 0, 0.1); */
    display: flex;
    /* margin-right: 4vw; */
    /* margin-top: 34.93vw; */
    width:34vw;
    /* font-size: large; */
    display: flex;
    /* justify-content: space-between; */
  align-items: center;
  /* font-size: 28pc !important; */

  }

  /* .descrip{ 
    font-size: 1rem;
    margin-left: 24vw;
    margin-right: 42vw;
    padding-top: 2rem;
} */

.descrip {
  font-size: 1rem;
  /* margin-left: 24vw; */
  /* margin-right: 42vw; */
  /* padding-top: 2rem; */
  overflow: hidden;
  max-height: fit-content;
  position: absolute;
  background-color: white;
}

.desctext{
    margin-left: 24vw; 
  margin-right: 42vw; 
   padding-top: 2rem;
   position: relative;
   /* margin-top:  ; */
}

.descrip p {
  /* margin: 0; */
  /* background-color: green; */
}

.read-more,
.read-less {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  background: white;
  border: none;
  cursor: pointer;
  font-size: 13px;
  padding-right: 0.3rem;
  padding-left: 0.4rem;
}

.read-more {
  display: block;
}

.descrip:target {
  max-height: none;
}

.descrip:target .read-more {
  display: none;
}

.descrip:target .read-less {
  display: block;
}


.info-show{
    /* background-color: #247f9e; */
    display: inline-flex;
    /* flex-direction: row; */
    max-height: 2vw;
    max-width: 100%;
    align-items: center;
    column-count: 3;
    /* display: inline-grid; */
    /* grid-template-columns: auto auto auto auto; */
    /* grid-template-rows: auto; */
    margin-top: 16px;
    margin-left: 7vw;
    padding-left: 2vw;
}

.underDes{
  padding-top: 20px;
}

  /* .o-button {
    background-color: white;
    font-size: 2pc;
  } */

  .obuttns{
    display: inline-flex;
     /* margin-bottom: -2rem; */
    /* border-bottom: 1px solid #ccc; */
    /* flex: 1; */
    background-color: rgb(244, 241, 241);
    /* padding-top: 3rem; */
    border: none;
    /* border-bottom: 4px solid transparent; */
    color: #333;
    /* font-size: 13px; */
    /* font-weight: bold; */
    /* max-height: 11rem; */
    /* max-height: 20px; */
    bottom: 2.7rem;
    padding-left: 7px ;
    padding-top: 7px ;
    padding-right: 7px ;
    position: relative;
    left: 11vw;
    /* text-align: center; */
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    /* text-transform: uppercase; */
    /* margin-right: ; */
    border-radius: 2px;
  }
  
  
  .opmr button {
    /* margin-bottom: -2rem; */
    /* flex: 1; */
    padding-right: -17px ;
    background-color: #fff;
    border: none;
    /* border-bottom: 4px solid transparent; */
    /* color: #333; */
    font-size: 13px;
    font-weight: bold;
    max-height: 11rem;
    /* max-height: 20px; */
    /* padding: 21.7px 0; */
    /* text-align: center; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* text-transform: uppercase; */
    /* margin-right: ; */
    /* border-radius: 2px; */
  }

  .tagbuttons {
    margin-right: 2vw;
    text-align: center;
    margin-left: 2vw;
    border-radius: 30%; /* make the border a circle shape */
    width: 110px; /* set a fixed width for the button */
    height: 30px; /* set a fixed height for the button */
  }
  

.toptags{
  background-color: white;
  display: inline-flex;
  margin-left: 7vw;
  padding-top: 10px;
  padding-bottom: 5px;
}

  .opmr button {
    border-bottom: 1px solid #ccc;
    background-color: #f7f7f7;
    padding-left: 2vw;
    padding-right: 2vw;
    /* width: 100px; */
  }
  
  .opmr button.active {
    /* boarder-bottom: 2px; */
    border-bottom: 2px solid rgb(255, 0, 0);
    /* padding-left: 22rem; */
    /* border-bottom: 2rem #ff5a5f; */
    color: #ff5a5f;
    
  }
  
  
.outer_opmr{
  /* background-color: green ; */
  /* border-radius: 4px; */
  border-bottom: 4px solid transparent;
  max-width: 50vw;
  margin-right: rem;
  /* margin-top: 3rem; */
  padding-left: 7vw;
  max-height: 10vw;
  /* margin-top: 37.3vw; */
}

.img-div {
  width: 234px;
  height: 132px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  
  /* overflow: hidden; */
}

.att{
  margin-bottom: -1px;
  margin-left: -1vw;
}

.img-div img {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  width: 234px;
  height: 132px;
  object-fit: cover;
}

img .img-div-index{
  /* border-radius: 5px; */
  /* margin-bottom: -13vw; */
}

/* img {
  border-radius: 5px;
  
} */

.img-div-index{
  /* border-top-left-radius: 3px; */
  /* border-top-right-radius: 3px; */
  width: 234px;
  height: 132px;
  margin-top: -9.8vw;
  border-radius: 5px;

  /* object-fit: cover; */
}

.indexline{
  border-bottom: 1px solid #ccc;
  height: 2vw;
}

/* .img {
  width: 1440px;
  height: 460px;
} */

  .img_c {
    width: 100vw;
    display: flex;
    position: relative;
    /* object-fit: cover; */
  margin-top: 3vw;
  justify-content: flex-end;
  /* align-items: center; */
  /* height: 46px; */
  /* max-height: ; */
  /* width: 100%; */
  /* overflow: hidden;  */
  /* padding-left: 8vw; */

}

.img_d {
  /* max-height: 1vw; */
  border: #8b0000;
  color: yellowgreen;
  /* max-width: 100%; */
  /* height: auto; */
  margin-top: -26vw;
  /* position: relative; */
  justify-content: center;
} 

.box-name{
  text-align: left;
  font-size: 16px;
  margin-top: 0.8vw;
  color: rgba(26, 24, 24, 0.906);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* font-weight: 400vw; */
  width: 9vw;
  display: flex;
  flex-direction: row;
  /* position: relative; */
}

.idx-img {
  height: 205px;
  width: 205px;
  padding-right: 1.6vw;
}

.m-icon{
  margin-bottom: -1.3vw;
}

.p-icon{
  margin-bottom: -1.2vw;
}

.a-icon{
  margin-bottom: -1.3vw;                                                                         
}

.cuisine{
  margin-left: 1.3vw;
  margin-right: 2vw;
  align-items: center;
  margin-bottom: 1.4vw;
}

.reviews{
  /* font-size: 15px; */
  /* margin-bottom: 1vw; */
    /* font-size: .995rem;
    font-weight: 500;
    line-height: 1.25rem;
  letter-spacing: 0.2vw;
  color:gold;
  margin-top:11px; */
  /* align-items: baseline; */
  margin-left: -1.3vw;
  /* border: #333 solid; */
  /* background-color: green; */
  margin-bottom: -4px;
}

.priceCon{
  margin-bottom: -4px;
  margin-left: -1vw;
}

.price{
  margin-left: 1.6vw;
  margin-right: 2vw;
  align-items: center;
  margin-bottom: 1.5vw;
}

.reviewstext{
  margin-left: 1.5vw;
  margin-right: 2vw;
  /* max-width: 4vw; */
  align-items: center;
  /* background-color: #8b0000; */
  margin-bottom: 1.4vw;
}

.starsshow{
  /* font-size: 15px; */
    font-size: .995rem;
    font-weight: 500;
    line-height: 1.25rem;
  letter-spacing: -0.3px;
  color: #da3743;
  /* */
  margin-right: 3vw;
}
.ratingnreviewsc {
  /* margin-top: 0.25vw; */
  /* padding-left: -1vw; */
}

.info-container{
  /* margin-top: 9vw; */
  display: contents;
}

.location_route{
  position: relative;
  /* margin-top: 3vw; */
  height: 2.4vw;
  top: -2vw;
}

.box-info{
  /* display: inline-block; */
  margin-top: .35vw;
  font-size: .875rem;
  letter-spacing: 0.02em;
}

.pcn{
  display: flex;
  /* max-height: 16vw; */
  /* justify-content: baseline; */
  /* margin-bottom: 3vw; */
  padding-bottom: 2vw;
  padding-left: 1vw;
  padding-right: 0.4vw;

}

.each-restaurant-sp{
  max-height: 22vw;
  /* justify-content: baseline; */
  /* justify-items: baseline; */
}

.cuisinenn{
  margin-top: .35vw;
  color: black;
}

.reservebtn {
  display: flex;
  flex-direction: row;
  /* letter-spacing: 3vw; */
  /* justify-content: space-around; */
  /* align-items: center; */
  /* position: absolute;
  bottom: 0; */
  padding-right: -2vw;
  margin-left: -.22vw;
}

.reservebtn button {
  background-color: #da3743;
  color: white;
  padding: 0.5rem;
  /* text-align: right; */
  border: none;
  cursor: pointer;
  height: 2.1vw;
  margin-top: 1.2vw;
  width: 4.81vw;
  font-size: 1.1em;
  text-align: center;
  display: flex;
  /* margin-right: -1.2vw; */
  padding-left: .8vw;
  /* letter-spacing: 3vw; */
}

.reservebtnidx{
  display: flex;
  flex-direction: row;
  /* letter-spacing: 3vw; */
  /* justify-content: space-around; */
  /* align-items: center; */
  /* position: absolute;
  bottom: 0; */
  /* padding-right: -3vw; */
  /* margin-left: -.32vw; */
}
.reservebtnidx button{
margin-right: 10px;
padding: 10px 15px;
font-size: 16px;
color: white;
background-color: #bf0e3e;
border: none;
border-radius: 4px;
text-align: center;
text-decoration: none;
display: inline-block;
margin: 4px 2px;
cursor: pointer;
align-self: center;
}

.reservebtnidx button{
  background-color: #da3743;
  color: white;
  padding: 0.5rem;
  /* text-align: right; */
  /* border: none; */
  cursor: pointer;
  height: 2.5vw;
  margin-top: 11vw;
  width: 7.81vw;
  font-size: .8em;
  text-align: center;
  display: flex;
  /* letter-spacing: normal; */
  /* margin-right: -1.2vw; */
  padding-left: .8vw;
}

button{
  text-align: center;
}

.reservebtn button:hover {
  background-color: #8b0000;
}

.index-name {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* position: absolute; */
  /* margin-top: -3vw; */
    margin-top: -10vw;
    font-size: 24px;
    font-weight: bold;
    color: #247f9e;
    font-weight: normal;

}

a:hover .index-name {
  text-decoration: underline;
}

.aspectsindex{
  font-weight: 100;
  margin-bottom: -10vw;
}

.filter-box {
  /* border: 1px solid black; */
  /* padding-right: 180px; */
  height: 100%;
  display: inline-block;
  width: 23vw;
  margin-left: 11.2pc;
  /* margin-right: 116px; */
}

.show-map-button {
  border: none;
  padding: 0;
  background-color: transparent;
}
.show-map-button img {
  display: block;
  width: 17vw;
  height: auto;
}


.show-map-button button{
  display: inline-block;
  margin-right: 16px;
  width: 5vw;
  text-align: center;
  align-self: center;
}
