.item-container {
    /* display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    height: 200px;
    width: 230px;
    border-bottom: 1px solid #ccc; */

    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    height: 240px;
    padding-right: 9vw;
    /* position: absolute; */
    /* border-bottom: 1px solid #ccc; */
    /*border: 1px solid #ccc; add border to the item container
    /* margin: 5px; add margin to create a gap between the items */
  }

  /* .idx-img{ */
    /* margin-bottom: 170vw; */
  /* } */
  
  .each-restaurant {
    /* max-width: 800px; */
    display: flex;
    flex-direction: row;
    /* width: 52.5vw; */
    padding: 20px;
    /* border: none; */
    background-color: #ffffff;
    /* border-bottom: 1px solid #ccc; */
    /* border-top: 1px solid #ccc; */
    width: 52.5vw;


  }
  
  .each-restaurant h1 {
    /* margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #333; */
  }


  
  .each-restaurant p {
    margin: 13px 0;
    font-size: 16px;
    color: #666;
  }
  
  .each_r_container{
    /* margin-top: 7vw; */
    /* border-radius: 4px; */
    /* max-width: 55rem; */
    /* border-left: 1px solid #ccc; */
    /* border-right: 1px solid #ccc; */
    
    padding-bottom: 6vw;
    /* width: 56% !important; */
    margin-left: 31.3vw;
    display: flex;
    /* overflow: hidden */
  }
  
  .results{
    max-width: 50rem;
    width: 75%;
    /* margin-left: 49vw; */
    display: flex;
    margin-top: 7vw;
    font-size: 3vw;
    }

  .results{
    margin-left: 31.3vw;
    max-width: 800px;
    display: flex;
    width: 52.5vw;
    padding: 20px;
    margin-bottom: 2.5vw;
    border: none;
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
    /* border-top: 1px solid #ccc; */
  }

  .info{
    margin-left: 1vw;
    /* display: flex; */
  }

  .filter-container {
    display: flex;
    margin-bottom: 10px;
    padding-left: 7vw;
    max-width: 30px;
    display: inline;
  margin-right: 16px;
    /* margin-left: 5vw; */
  }
  
  .filter-container button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
  }
  
  .filter-container button:hover {
    background-color: #ccc;
  }
  
  .main_whole_show{
    margin-top: 4.2vw;
  }

  .main_left_show{
    background-color: white;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: 32px;
    padding-top: 127.75px;
    padding-right: 16px;
    padding-bottom: 0;
    padding-left: 16px;
    width: 40rem;    
    margin-left: 15vw;
    width: 46vw;
  }

  /* .opmr{
    border-bottom: 1px solid #ccc;
    background-color: #333;
  } */

  .names{
    border-bottom: 1px solid #ccc;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.5rem;
    margin-top: -10vw;
    margin-left: 3vw;
  }

  .outer_opmr {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }

  .under-buttons {
    flex: 1;
    text-align: right;
  }
  
  .opmr {
    position: relative;
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    /* box-shadow: 0 0.05rem 0.5rem rgba(0, 0, 0, 0.1); */
    display: flex;
    margin-right: 42vw;
    margin-top: 34.93vw;
    width:34vw;
    /* font-size: large; */
    display: flex;
    justify-content: space-between;
  align-items: center;
  /* font-size: 28pc !important; */

  }

  .descrip{ 
    font-size: 28px;
    margin-left: 22vw;
    margin-right: 40vw;
   }

   .info-show{
    display: flex;
    flex-direction: row;
   }

  /* .o-button {
    background-color: white;
    font-size: 28pc;
  } */
  
  
  .opmr button {
    flex: 1;
    background-color: #fff;
    border: none;
    border-bottom: 4px solid transparent;
    border-radius: 0;
    color: #333;
    font-size: 10px;
    font-weight: bold;
    padding: 21.7px 0;
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;
  }
  
  .opmr button:hover {
    background-color: #f7f7f7;
  }
  
  .opmr button.active {
    border-bottom-color: #ff5a5f;
    color: #ff5a5f;
  }
  
  
 .outer-opmr{
  background-color: white ;
  /* border-radius: 4px; */
  border-bottom: 4px solid transparent;
  max-width: 10vw;
 }

 .img-div {
  width: 234px;
  height: 132px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  
  /* overflow: hidden; */
}

.img-div img {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  width: 234px;
  height: 132px;
  object-fit: cover;
}

img .img-div-index{
  border-radius: 5px;
  /* margin-bottom: -13vw; */
}

img {
  border-radius: 5px;
  
}

.img-div-index{
  /* border-top-left-radius: 3px; */
  /* border-top-right-radius: 3px; */
  width: 234px;
  height: 132px;
  margin-top: -9.8vw;
  border-radius: 5px;

  /* object-fit: cover; */
}

.indexline{
  border-bottom: 1px solid #ccc;
  height: 2vw;
}

/* .img {
  width: 1440px;
  height: 460px;
} */

  .img_c {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 460px;
  width: 100%;
  overflow: hidden;
}

.img_d {
  max-height: 100vw;
  max-width: 100%;
  height: auto;
} 

.box-name{
  text-align: left;
  font-size: 16px;
  margin-top: 0.8vw;
  color: rgba(26, 24, 24, 0.906);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* font-weight: 400vw; */
  width: 9vw;
  display: flex;
  flex-direction: row;
  /* position: relative; */
}

 .idx-img {
  height: 205px;
  width: 205px;
  padding-right: 1.6vw;
}

.ratingreviewsindex{
  /* font-size: 15px; */
    font-size: .995rem;
    font-weight: 500;
    line-height: 1.25rem;
  letter-spacing: 0.2vw;
  color:gold;
  margin-top:11px;
  /* margin-right: 3vw; */
  /* border: #333 solid; */
}

.ratingreviews{
  /* font-size: 15px; */
    font-size: .995rem;
    font-weight: 500;
    line-height: 1.25rem;
  letter-spacing: 0.2vw;
  color: #da3743;
  /* */
  margin-right: 3vw;
}
.ratingnreviewsc {
  margin-top: 0.25vw;
  /* padding-left: -1vw; */
}

.box-info{
  /* display:flex; */
  margin-top: .35vw;
  font-size: .875rem;
  letter-spacing: 0.02em;
}

.pcn{
  display: flex;
  /* max-height: 16vw; */
  /* justify-content: baseline; */
  /* margin-bottom: 3vw; */
  padding-bottom: 2vw;
  padding-left: 1vw;
  padding-right: 0.4vw;

}

.each-restaurant-sp{
  max-height: 22vw;
  /* justify-content: baseline; */
  /* justify-items: baseline; */
}

.cuisinenn{
  margin-top: .35vw;
  color: black;
}

.reservebtn {
  display: flex;
  flex-direction: row;
  /* letter-spacing: 3vw; */
  /* justify-content: space-around; */
  /* align-items: center; */
  /* position: absolute;
  bottom: 0; */
  padding-right: -2vw;
  margin-left: -.22vw;
}

.reservebtn button {
  background-color: #da3743;
  color: white;
  padding: 0.5rem;
  /* text-align: right; */
  border: none;
  cursor: pointer;
  height: 2.1vw;
  margin-top: 1.2vw;
  width: 4.81vw;
  font-size: 1.1em;
  text-align: center;
  display: flex;
  /* margin-right: -1.2vw; */
  padding-left: .8vw;
  /* letter-spacing: 3vw; */
}

.reservebtnidx{
  display: flex;
  flex-direction: row;
  /* letter-spacing: 3vw; */
  /* justify-content: space-around; */
  /* align-items: center; */
  /* position: absolute;
  bottom: 0; */
  /* padding-right: -3vw; */
  /* margin-left: -.32vw; */
}
.reservebtnidx button{
margin-right: 10px;
padding: 10px 15px;
font-size: 16px;
color: white;
background-color: #bf0e3e;
border: none;
border-radius: 4px;
text-align: center;
text-decoration: none;
display: inline-block;
margin: 4px 2px;
cursor: pointer;
align-self: center;
}

.reservebtnidx button{
  background-color: #da3743;
  color: white;
  padding: 0.5rem;
  /* text-align: right; */
  /* border: none; */
  cursor: pointer;
  height: 2.5vw;
  margin-top: 11vw;
  width: 7.81vw;
  font-size: .8em;
  text-align: center;
  display: flex;
  /* letter-spacing: normal; */
  /* margin-right: -1.2vw; */
  padding-left: .8vw;
}

button{
  text-align: center;
}

.reservebtn button:hover {
  background-color: #8b0000;
}

.index-name {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* position: absolute; */
  /* margin-top: -3vw; */
    margin-top: -10vw;
    font-size: 24px;
    font-weight: bold;
    color: #247f9e;
    font-weight: normal;

}

a:hover .index-name {
  text-decoration: underline;
}

.aspectsindex{
  font-weight: 100;
  margin-bottom: -10vw;
}

.filter-box {
  border: 1px solid black;
  padding: 18px;
  display: inline-block;
  width: 23vw;
  margin-left: 4pc;
  margin-right: 6pc;
}


.show-map-button button{
  display: inline-block;
  margin-right: 16px;
  width: 5vw;
  text-align: center;
  align-self: center;
}
