.item-container {
    /* display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    height: 200px;
    width: 230px;
    border-bottom: 1px solid #ccc; */

    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    height: 240px;
    padding-right: 9vw;
    /* position: absolute; */
    /* border-bottom: 1px solid #ccc; */
    /*border: 1px solid #ccc; add border to the item container
    /* margin: 5px; add margin to create a gap between the items */
  }


  /* .idx-img{ */
    /* margin-bottom: 170vw; */
  /* } */

  .carousel {
    padding: 11px;
    overflow: hidden;
    justify-content: center;
  } 


  .res_form {

  }

  .space{
  padding-right: 11vw;
}

  .c_pics {
    /* padding-right: 30vw; */
    /* margin-top: -8px; */
      /* overflow-x: auto; */
      /* overflow: -moz-scrollbars-none; */
      /* padding-top: 8px;
      scrollbar-width: none;
      white-space: nowrap;
    width: 76vw;
    max-height: 6px; */
    /* display: flex; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* overflow: auto; */
    /* padding-left: 6.6vw; */
    margin-left: 1.3vw;
    /* padding-right: 90vw; */
    /* margin-right: 190vw; */
    /* padding */
    border-bottom: 1px;
  }

ol {
  margin-right: -1vw;
}

.additional_info {
  margin-left: 5vw;
  padding-top: 2vw;
  margin-right: 6vw;
}

.restaurant-image {
  /* padding-bottom: 2vw; */
}


.add-h2{
     /* padding-top: 3vw;/ */
    /* margin-top: 2vw; */
    /* margin-bottom: 2vw; */
    border-bottom: 1px solid #ccc;
    margin-left: 4vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 19px;
    font-weight: 500;
    padding-bottom: 1vw;
    margin-bottom: 1vw;
    margin-right: 11vw;
    padding-left: 3px;
}

.add-ol{
  padding-left: 4.2vw;
}

.add-p {
  font-weight: 300;
}

.add-icon{
  font-size: 28px;
  margin-right: 3px;
  position: absolute;
  /* left: 19px; */
  padding-top: 5px;
}

.add-icon-phone{
  font-size: 25px;
  margin-right: 3px;
  position: absolute;
  /* left: 19px; */
  left: 58.9vw;
  padding-top: 9px;
}

.additional-list {
  margin-left: 1.8vw;
  font-size: 14px;
  color: black;
    font-weight: 600;
    line-height: 20px;
    text-align: -webkit-match-parent;
    font-family: BrandonText,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

  h2{
    /* padding-top: 3vw;/ */
    /* margin-top: 2vw; */
    /* margin-bottom: 2vw; */
    border-bottom: 1px solid #ccc;
    margin-left: 2vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 26px;
    font-weight: 700;
    padding-bottom: 1vw;
    margin-bottom: 1vw;
    margin-right: 11vw;
  }

  .other{
    height: 10vw; 
    width: 13vw; 
    justify-content: center;
    padding-right: 8px;
  }
  
  .each-restaurant {
    /* max-width: 800px; */
    display: flex;
    flex-direction: row;
    /* width: 52.5vw; */
    padding: 20px;
    /* margin-right: 3vw; */
    /* border: none; */
    background-color: #ffffff;
    /* border-bottom: 1px solid #ccc; */
    /* border-top: 1px solid #ccc; */
    width: 52.5vw;


  }
  
  /* .each-restaurant h1 { */
    /* margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #333; */
  /* } */


  
  .each-restaurant p {
    margin: 13px 0;
    font-size: 16px;
    color: #666;
  }
  
  .each_r_container{
    /* margin-top: 7vw; */
    /* border-radius: 4px; */
    /* max-width: 55rem; */
    /* border-left: 1px solid #ccc; */
    /* border-right: 1px solid #ccc; */
    
    padding-bottom: 6vw;
    /* width: 56% !important; */
    margin-left: 31.3vw;
    display: flex;
    /* overflow: hidden */
  }
  
  .results{
    max-width: 50rem;
    width: 75%;
    /* margin-left: 49vw; */
    display: flex;
    margin-top: 7vw;
    font-size: 3vw;
    }

  .results{
    margin-left: 31.3vw;
    max-width: 800px;
    display: flex;
    width: 52.5vw;
    padding: 20px;
    margin-bottom: 2.5vw;
    border: none;
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
    /* border-top: 1px solid #ccc; */
  }

  .info{
    margin-left: 1vw;
    /* display: flex; */
  }

  .filter-container {
    display: flex;
    margin-bottom: 10px;
    padding-left: 1.2vw;
    max-width: 30px;
    display: inline;
    margin-right: 16px;
    /* margin-left: 5vw; */
  }

  .filter-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  
  .filter-container button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
  }

  .circle {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1.5px solid black;
    text-align: center;
    line-height: 30px;
    /* font-size: 7px; */
    cursor: pointer;
    /* transition: all 0.3s; */
  }
  
  .circle.selected {
    background-color: red;
    color: white;
  }

  .inner-circle {
    /* display: inline-block; */
    /* width: 17px; */
    /* height: 17px; */
    /* margin-top: 2vw; */
    border-radius: 50%;
    color: green;
    display: flex;
  }

  .low{
    /* display: flex; */
    /* background-color: #8b0000; */
    margin-right: -16.5vw;
    margin-bottom: 1vw;
    padding-top: 1vw;
  }

  .filter-option {
    /* display: inline; */
    /* margin-left: 10vw; */
    /* align-items: center; */
    /* justify-content: space-between; */
    /* margin-bottom: 0.5rem; */
  }
  
  /* .filter-container button:hover {
    background-color: #ccc;
  } */
  
  .main_whole_show{
    /* margin-top: 4.2vw; */
  }

  .main_right_show{
    margin-left: 50vw;
    max-height: 100vw;
  }


  .main_left_show{
    /* background-color: rgb(210, 36, 36); */
    /* border-radius: 4px; */
    /* box-sizing: border-box; */
    margin-right: 33vw;
    /* padding-top: 127.75px; */
    /* padding-right: 16px; */
    /* padding-bottom: 0; */
    /* padding-left: 16px; */
    /* width: 40rem;     */
    margin-left: 9vw;
    /* max-height: fit-content; */
    /* width: 46vw; */
    /* position: relative; */
    /* width: 60vw; */
    height: 85vw;
    margin-top: -55.9vw;
  }

  /* .opmr{
    border-bottom: 1px solid #ccc;
    background-color: #333;
  } */

  .under-pic{
    background-color: white;
    /* color: white; */
    /* display: inline; */
    width: 100vw;
    max-height: 100vw;
    /* margin-left: 4vw; */
    /* position: absolute; */
    
  }

  .foot {
    /* margin-top: 2.6vw; */
    position: absolute;
    margin-top: 18vw;
    margin-left: -9vw;
  }

  
  .names{
    border-top: 1.6px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: left;
    font-size: 45px;
    font-weight: 600;
    line-height: 6rem;
    /* margin-top: -.35vw; */
    padding-left: 15px;
    /* margin-left: 12vw; */
    /* margin-right: 6vw; */
    margin-top: -1.29vw;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
  }

  .opmr {
    /* display: flex; */
    /* position: absolute; */
    /* padding-right: 30rem; */
    /* margin-bottom: 1rem; */
    /* top: 0; */
    /* right: 0; */
    /* background-color: #bf0e3e; */
    /* z-index: 1; */
    /* border-bottom: 1px solid #ccc; */
  }

  .under-buttons {
    margin-left: 1.8vw;
    max-height: 100vw;
  }
  
  .opmr {
    /* position: relative; */
    background-color: rgb(255, 255, 255);
    /* padding: 0.5rem; */
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
    /* box-shadow: 0 0.05rem 0.5rem rgba(0, 0, 0, 0.1); */
    /* display: flex; */
    /* margin-right: 4vw; */
    margin-left: 2vw;
    /* margin-bottom: 2vw; */
    /* margin-top: 34.93vw; */
    /* padding-top: -3vw; */
    /* height: 22vw; */
    /* padding-bottom: 1.28vw; */
    width: 106%;
    max-height: 5p;
    /* font-size: large; */
    /* display: flex; */
    /* justify-content: space-between; */
  align-items: center;
  /* height: 10%; */
  display: relative;
  /* font-size: 28pc !important; */
  /* font-display: ; */
  margin-top: 5.8vw;
  }

  .reservation_st {
    height: 100%;
    /* overflow: auto; */
  }

  .opmr-li {
    display: inline-block;
    margin-right: 32px;
    color: rgb(45, 51, 63);
    box-shadow: rgb(218, 55, 67);
    text-align: left;
    text-size-adjust: 100%;
    margin-left: -1.5vw;
  }

  .opmr-li-1 {
    display: inline-block;
    width: 57.7969px;
    margin-right: 4vw;
    margin-left: 1.5vw;
    /* padding-right: 12px; */
    padding-bottom: .6vw;
    color: rgb(45, 51, 63);
    box-shadow: rgb(218, 55, 67);
    text-align: left;
    text-size-adjust: 100%;
    border-bottom: 1.4px solid rgb(218, 55, 67);
}


  /* .descrip{ 
    font-size: 1rem;
    margin-left: 24vw;
    margin-right: 42vw;
    padding-top: 2rem;
} */

.descrip {
  font-size: 1rem;
  padding-top: 10.2rem;
  overflow: hidden;
  /* max-height: 50px; */
  justify-content: flex-start;
  display: inline-block;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
}

.desctext {
  margin-left: 1vw;
  margin-right: 6vw;
  /* margin-top: 3rem; */
  position: relative;
  font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
}

.descrip p {
  /* margin: 0; */
}

.desctext {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: var(--linesToShow, 3);
  -webkit-box-orient: vertical;
}

.desctext::after {
  content: '';
  position: absolute;
  bottom: 5;
  right: 0;
  width: 100%;
  height: 1.5em;
  background: linear-gradient(to bottom, transparent, white);
}

.desctext.expanded::after {
  display: none;
}

.description-toggle {
  position: relative;
  z-index: 1;
  color: black;
  cursor: pointer;
  margin-top: 0.2rem;
  margin-left: 2rem;
  font-size: 12px;
  font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
}

.description-toggle:hover {
color: red;
}

.read-more,
.read-less {
  display: none;
  position: relative;
  z-index: 1;
  color:black;
  cursor: pointer;
  margin-top: 0.5rem;
}

.read-more.show,
.read-less.show {
  display: inline;
}

.info-show{
  font-size: 14px;
    font-weight: 300;
    line-height: 1.25rem;
    /* background-color: #247f9e; */
    display: relative;
    /* flex-direction: row; */
    max-height: 2vw;
    /* max-width: 100%; */
    align-items: center;
    column-count: 3;
    /* margin-right: 4vw; */
    /* display: inline-grid; */
    /* grid-template-columns: auto auto auto auto; */
    /* grid-template-rows: auto; */
    margin-top: 17px;
    /* margin-left: 7vw;
    /* padding-left: 12vw; */
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
}

.underDes{
 /* padding-bottom: 1vw; */
}

  /* .o-button {
    background-color: white;
    font-size: 2pc;
  } */

.photos-container {
  /* margin-right: 30vw; */
  padding-top: 1vw;
  margin-right: 8vw;
  padding-bottom: 1vw;
}
  
  
  .o-button {
    align-items: flex-start;
    box-sizing: border-box;
    display: inline-block;
    /* margin-bottom: 16px; */
    padding-left: 4px;
    font-size: 12.6px;
    font-stretch: 100%;
    font-weight: 500;
    line-height: 3.8vw;
    text-align: center;
    border-style: none;
    background-color: rgb(0, 0, 0, 0);
    color: rgb(115, 115, 123);
    /* margin-left: 1vw; */
  }
  

  .tagli p:hover {
    cursor: pointer;
    border-color: red;

    /* margin-right: 2vw; */
    /* text-align: center; */
    /* margin-left: 2vw; */
    /* border-radius: 30%; make the border a circle shape     */
    /* width: 110px; set a fixed width for the button/ */
    /* height: 30px; set a fixed height for the button */
  }
  
  .tagli p {
    /* cursor: pointer; */
    border: 1px solid #d8d9db;
    border-radius: 1rem;
    padding: .3125rem 16px;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.25rem;
    margin-left: 10px;
    color: black
    /* justify-content: space-between; */
    /* background-color: #247f9e; */
  }

  /* .top-tags li:hover {
    border-color: red;

  } */

  .tags {
  font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
  }

.toptags{
  background-color: white;
  display: inline-flex;
  /* margin-left: 7vw; */
  /* padding-top: 10px; */
  /* padding-bottom: 5px; */
  list-style: none;
  width: 519.05px;
  height: 32px;
  margin-top: 1vw;
  font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
}

  .opmr button {
    /* border-bottom: 1px solid #ccc;
    background-color: #f7f7f7;
    padding-left: 2vw;
    padding-right: 2vw; */
    /* width: 100px; */
  }
  
  /* .opmr button.active { */
    /* boarder-bottom: 2px; */
    /* border-bottom: 2px solid rgb(255, 0, 0); */
    /* padding-left: 22rem; */
    /* border-bottom: 2rem #ff5a5f; */
    /* color: #ff5a5f;  */
  /* } */

  .o-button:hover {
    color: red;
  }

  .o-button.active{
    align-items: flex-start;
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 11px;
    padding: 0px;
    font-size: 13px;
    font-stretch: 100%;
    font-weight: 500;
    line-height: 20px;
    /* text-align: left; */
    border-style: none;
    background-color: rgb(0, 0, 0, 0);
    color: rgb(218, 55, 67);
    padding-left: .3vw;
    
}

  
  
.outer_opmr{
  /* background-color: green ; */
  /* border-radius: 4px; */
  /* border-bottom: 4px solid transparent; */
  /* max-width: 50vw; */
  /* padding-right: 2rem; */
  margin-top: -4rem;
  /* padding-left: 7vw; */
  max-height: 19vw;
  /* margin-top: 37.3vw; */
  object-fit: cover;
  /* display: flex; */
  position: absolute;
}

.img-div {
  width: 234px;
  height: 132px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  
  /* overflow: hidden; */
}

.att{
  margin-bottom: -1px;
  margin-left: -7vw;
}

.img-div img {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  width: 255.3px;
  height: 132px;
  object-fit: cover;
}

img .img-div-index{
  /* border-radius: 5px; */
  /* margin-bottom: -13vw; */
}

/* img {
  border-radius: 5px;
  
} */

.img-div-index{
  /* border-top-left-radius: 3px; */
  /* border-top-right-radius: 3px; */
  width: 234px;
  height: 132px;
  margin-top: -9.8vw;
  border-radius: 5px;

  /* object-fit: cover; */
}

.indexline{
  border-bottom: 1px solid #ccc;
  height: 2vw;
}

/* .img {
  width: 1440px;
  height: 460px;
} */



.img_d {
  display: flex;
  position: relative;
  line-height: 0;
  margin-top: -2rem;
}

.img_c {
  width: 100vw;
  height: 400px;
  object-fit: cover;
}



.box-name{
  text-align: left;
  font-size: 16px;
  margin-top: 0.8vw;
  color: rgba(26, 24, 24, 0.906);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* font-weight: 400vw; */
  width: 9vw;
  display: flex;
  flex-direction: row;
  /* position: relative; */
}

.idx-img {
  height: 205px;
  width: 205px;
  padding-right: 1.6vw;
}

.m-icon{
  /* margin-bottom: -1.3vw; */
}

.p-icon{
  /* margin-bottom: -1.2vw; */
}

.a-icon{
  /* margin-bottom: -1.3vw;                                                                          */
}

.cuisine{
  margin-left: -10.5vw;
  /* margin-right: 2vw; */
  align-items: center;
  margin-bottom: 1.4vw;
}

.reviews{
  /* font-size: 15px; */
  /* margin-bottom: 1vw; */
    /* font-size: .995rem;
    font-weight: 500;
    line-height: 1.25rem;
  letter-spacing: 0.2vw;
  color:gold;
  margin-top:11px; */
  /* align-items: baseline; */
  /* margin-left: -2vw; */
  /* border: #333 solid; */
  /* background-color: green; */
  /* margin-bottom: -4px; */
}

.priceCon{
  margin-bottom: -4px;
  margin-left: -5vw;
}

.price{
  margin-left: -6.5vw;
  /* margin-right: 2vw; */
  align-items: center;
  margin-bottom: 1.5vw;
}

.reviewstext{
  margin-left: -4.5vw;
  /* margin-right: 21vw; */
  /* max-width: 4vw; */
  /* align-items: center; */
  /* background-color: #8b0000; */
  /* margin-bottom: 1.4vw; */
}

.show_container {
  /* margin-top: 14px; */
}

.starsshow{
  /* font-size: 15px; */
    font-size: .995rem;
    font-weight: 300;
    line-height: 1.25rem;
  letter-spacing: -0.3px;
  color: #da3743;
  /* */
  margin-right: 3vw;
}
.ratingnreviewsc {
  /* margin-top: 0.25vw; */
  /* padding-left: -1vw; */
}

.info-container{
  margin-top: 9vw;
  display: contents;
}

.location_route{
  position: relative;
  margin-top: 3vw;
  height: 2.4vw;
  top: -2vw;
}

.box-info{
  /* display: inline-block; */
  margin-top: .35vw;
  font-size: .875rem;
  letter-spacing: 0.02em;
}

.pcn{
  display: flex;
  /* max-height: 16vw; */
  /* justify-content: baseline; */
  /* margin-bottom: 3vw; */
  padding-bottom: 2vw;
  padding-left: 1vw;
  padding-right: 0.4vw;

}

#small-pic{
  /* color: red;
  padding-right: 3vw; */
  width: 16.28vw;
  border-bottom-left-radius: 1.5px;
  border-bottom-right-radius: 1.5px;
}

.each-restaurant-sp{
  max-height: 22vw;
  /* justify-content: baseline; */
  /* justify-items: baseline; */
}

.cuisinenn{
  margin-top: .35vw;
  color: black;
}

.reservebtn {
  display: flex;
  flex-direction: row;
  /* letter-spacing: 3vw; */
  /* justify-content: space-around; */
  /* align-items: center; */
  /* position: absolute;
  bottom: 0; */
  padding-right: -2vw;
  margin-left: -.22vw;
}

.reservebtn button {
  background-color: #da3743;
  color: white;
  padding: 0.5rem;
  /* text-align: right; */
  border: none;
  cursor: pointer;
  height: 2.1vw;
  margin-top: 1.2vw;
  width: 4.81vw;
  font-size: 1.1em;
  text-align: center;
  display: flex;
  /* margin-right: -1.2vw; */
  padding-left: .8vw;
  /* letter-spacing: 3vw; */
}

.reservebtnidx{
  display: flex;
  flex-direction: row;
  /* letter-spacing: 3vw; */
  /* justify-content: space-around; */
  /* align-items: center; */
  /* position: absolute;
  bottom: 0; */
  /* padding-right: -3vw; */
  /* margin-left: -.32vw; */
}
.reservebtnidx button{
margin-right: 10px;
padding: 10px 15px;
font-size: 16px;
color: white;
background-color: #bf0e3e;
border: none;
border-radius: 4px;
text-align: center;
text-decoration: none;
display: inline-block;
margin: 4px 2px;
cursor: pointer;
align-self: center;
}

.reservebtnidx button{
  background-color: #da3743;
  color: white;
  padding: 0.5rem;
  /* text-align: right; */
  /* border: none; */
  cursor: pointer;
  height: 2.5vw;
  margin-top: 11vw;
  width: 7.81vw;
  font-size: .8em;
  text-align: center;
  display: flex;
  /* letter-spacing: normal; */
  /* margin-right: -1.2vw; */
  padding-left: .8vw;
}

button{
  text-align: center;
}

.reservebtn button:hover {
  background-color: #8b0000;
}

.index-name {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* position: absolute; */
  /* margin-top: -3vw; */
    margin-top: -10vw;
    font-size: 24px;
    font-weight: bold;
    color: #247f9e;
    font-weight: normal;
}

a:hover .index-name {
  text-decoration: underline;
}

.aspectsindex{
  font-weight: 100;
  margin-bottom: -10vw;
}

.filter-box {
  /* border: 1px solid black; */
  /* padding-right: 180px; */
  height: 100%;
  display: inline-block;
  width: 23vw;
  margin-left: 11.2pc;
  /* margin-right: 116px; */
}

.show-map-button {
  border: none;
  padding: 0;
  background-color: transparent;
}
.show-map-button img {
  display: block;
  width: 17vw;
  height: auto;
}


.show-map-button button{
  display: inline-block;
  margin-right: 16px;
  width: 5vw;
  text-align: center;
  align-self: center;
}



.write-review-button {
  background-color: red;
}
.write-rev2 {
  padding-left: 8.6vw;
  padding-top: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}

#partySize:focus {
  outline-color: transparent
}

#date:focus {
  outline-color: transparent
}

#time:focus {
  outline-color: transparent
}
/* #partySize:focus {
  outline-color: red;
} */

.write-rev{
  background-color: red;
  /* font-size: 12px; */
  /* margin-left: 8.6vw; */
  height: 1.6vw;
  width: 24vw;
  border-radius: 43px;
  color: rgb(0, 0, 0);
  border: 5px solid #d8d9db;
  border-color: red;
  margin-left: 9.5vw;
  /* padding-bottom: 1vw; */
}

.write-rev:hover{
  background-color: white;
  color: red;
}

.write-rev2:hover{
  color: red;

}
