

.sticky-container {
  position: sticky;
  top: 0;
}

.party-size {
  /* max-width: 15vw; */
}

.full_form {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px #2d333f33;
  display: block;
  padding: 16px;
  /* padding: 16px; */
  margin-right: 17vw;
  margin-top: -4.5vw;
  margin-left: 9vw;
  padding-top: 1.6vw;
  /* Add other relevant styles */
  height: 22vw;
}

.disabled {
  /* For example, you can set the text color to gray and decrease the opacity */
  color: gray;
  opacity: 0.5;
  /* Add any other styling you want to apply when the div is disabled */
}

.reservation-body {
  margin-top: 22px;
  padding-bottom: 25px;
  display: inline-block;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
}

.page-details {
  margin-left: 6vw;
  margin-right: 36vw;
}

.timetext {
  /* left: vw; */
  /* top: vw; */
  display: flexbox;

  /* margin-left: -.4vw; */
  /* margin-right: 28vw; */
  padding-left: -3vw;
  color: rgb(0, 0, 0);
  position: absolute;
  padding-top: 9px;
}

.nav-bar1 {
  margin-top: 2vw;
}

.res-up-form{
  border: 5px solid red;
  max-height: 325vw;
}

.inner-upres-form{
  /* background-color: rebeccapurple; */
  margin-right: 16vw;
}

.date1{
  /* background-color: rebeccapurple; */
  margin-right: 24.8vw;
  margin-top: 1vw;
}

#time1{
  margin-top: 4vw;
  position: absolute;
  top: 66.4vw;
  right: 65.7vw;
  /* margin-bottom: 4vw; */
}

.time1{
  /* background-color: rebeccapurple; */
  margin-right: 24.5vw;
  margin-top: 2.8vw;
}

.s-rq{
  /* background-color: rebeccapurple; */
  margin-right: 16.3vw;
  width: max-content;
  margin-top: 2.7vw;
  margin-bottom: 2.7vw;
}

#date1{
  margin-top: 4vw;
  position: absolute;
  top: 62.7vw;
  right: 64.2vw;
}

.phone_number{
  margin-top: 1vw;
  
}

.party_size{
  margin-top: 1vw;

}

#party_size{
  /* background-color: rebeccapurple; */
  margin-right: 17vw;
  padding-bottom: -4vw;
  /* padding-right: vw; */
  max-width: 35vw;
}

#phone_number{
  /* background-color: rebeccapurple; */
  margin-right: 14vw;
  padding-bottom: -4vw;
}

h5 {
  border-bottom: 1px solid #ccc;
  /* justify-content: center; */
    padding-left: 7vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 26px;
    font-weight: 700;
    padding-bottom: 1vw;
    margin-bottom: 1vw;
    margin-right: 24vw;
}
.confirm-container {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.detail {
  font-size: 23px;
  /* padding-top: 21vw; */
  padding-left: 1vw;
}

.reserv_det {
  font-size: 11px;
  padding-top: 1vw;
  padding-bottom: 2vw;
  padding-left: 2vw;
}

.confirm-btn {
  font-size: 12px;
  border-radius: 23px;
  color: rgb(0, 0, 0);
  border: .5px solid #d8d9db;
  border-color: rgb(169, 159, 159);
  background-color: white;
}

.update-whole {
  padding-left: 12vw;
  margin-top: -2.2vw;
}

.reserv-update {
  font-size: 12px;
  border-radius: 23px;
  color: rgb(0, 0, 0);
  border: .5px solid #d8d9db;
  border-color: rgb(169, 159, 159);
  background-color: white;
}

.reserv-update:hover {
  color: red;
  border-color: red;
}

.delete-reserv:hover {
  color: red;
  border-color: red;
}

.confirm-btn:hover {
  color: red;
  border-color: red;
}

.delete-reserv {
  font-size: 12px;
  border-radius: 23px;
  color: rgb(0, 0, 0);
  border: .5px solid #d8d9db;
  border-color: rgb(169, 159, 159);
  background-color: white;
}

.delete-whole {
  padding-left: 19.5vw;
  margin-top: -2.5vw;
}


.del-yes1:hover {
  color: red;
  border-color: red;
}

.del-no1:hover {
  color: red;
  border-color: red;
}

.del-no1{
  font-size: 12px;
  border-radius: 23px;
  color: rgb(0, 0, 0);
  border: .5px solid #d8d9db;
  border-color: rgb(169, 159, 159);
  background-color: white;
  margin-left: 4vw;
  margin-top: 2vw;
  /* position: absolute; */
  /* margin-bottom: 3vw; */
  /* top: 3.3vw;
  right: 6vw; */
  max-height: 35px;
  display: flex;
}

.del-yes1 {
  /* position: absolute; */
  display: flex;
  font-size: 12px;
  border-radius: 23px;
  color: rgb(0, 0, 0);
  border: .5px solid #d8d9db;
  border-color: rgb(169, 159, 159);
  background-color: white;
  /* margin-bottom: 7px; */
  margin-top: 2vw;
  /* padding-right: 1vw; */
  width: 51px;
  top: 1.2vw;
  right: 13vw;
  justify-content: center;
}


.deleteor1 {
  /* width: 23vw; */
  padding-top: 2vw;
  margin-left: 3vw;
  margin-right: 3vw;
  font-size: 12px;
  
}

.del-but-no{
  display: flex;
  /* bottom: 22vw; */
  /* margin-top: 3vw; */
  margin-left: 14vw;
  /* position: absolute; */
  }

.del-but-yes{
display: flex;
/* margin-top: 2vw; */
margin-left: 7vw;
width: 3vw;
}

.d-u-b{
  margin-left: -12.5vw;
  padding-top: 1.5vw;
}



.level{
  /* background-color: yellow; */
  margin-bottom: 2vw;
  height: 52px;
  justify-content: center;
}

.delete-con1 {
  /* position: absolute; */
  /* padding-top: 5vw; */
  margin-top: 3.5vw;
  background-color: rgb(255, 255, 255);
  border: 3px solid rgb(255, 0, 0);
  /* display: flex; */
  /* bottom: 3vw; */
  justify-content: center;
  margin-right: 20vw;
  height: 8vw;
  border-radius: 30px;
  font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
  font-weight: 200;
  /* padding-right: 21vw; */
  /* display: table-row-group; */
}

.icon-book {
  display: flex;
  width: 2vw;
/* margin-right: 4vw; */
/* font-size: 22px; */
}

.textbooked {
  /* margin-bottom: -23vw; */
  /* margin-right: 2vw; */
  right: 28vw;
  top: 22.2vw;
  /* display: flex; */
  position: absolute;
}

.s-r{
  /* font-size: 16px; */
  /* margin-top: 15px */
}

.cancel2{
  margin-bottom: 1.2vw;
  background-color: rgb(241, 237, 237);
  border-radius: 4px;
  color: red;
  font-size: 16px;
  padding: 12px 15px;
  width: 221px;
  top: 17vw;
  height: 1.3cm;
  /* width: 2vw; */
  /* text-align: center; */
  /* display: flex; */
  justify-content: center;
  /* align-items: center; */
  /* left: 30vw; */
  /* padding-left: -22vw; */
  /* position: absolute; */
}

.submit3 {
  background-color: red;
  /* padding-bottom: 3.2vw; */
  border-radius: 4px;
  color: white;
  font-size: 16px;
  padding: 12px 15px;
  max-width: 221px;
  top: 17vw;
  height: 1.3cm;
  /* width: 2vw; */
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* left: 30vw; */
  /* padding-left: -22vw; */
  /* position: absolute; */
}

.submit2 {
  background-color: red;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  padding: 12px 15px;
  max-width: 321px;
  top: 17vw;
  height: 1.3cm;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* left: 30vw; */
  /* padding-left: -22vw; */
  position: absolute;
}

.times_booked {
  padding-top: 8vw;
  align-items: right;
  justify-content: right;
  margin-right: -78vw;
  font-size: 14px;
  width: 100vw;
}

.time-sec{
position: absolute;
/* width: 2vw; */
right: 7vw;
top: 8.65vw;
}

#time{
  -webkit-appearance: none;
  /* padding-right: 5vw; */
  appearance: none;
  border: none;
  margin-right: 11vw;
  bottom: 2;
  color: #2d333f;
  font: inherit;
  font-size: 14px;
  font-weight: 300;
  height: 24px;
  left: 0;
  /* margin-left: 1vw; */
  top: 0;
  width: 145px;
  padding-top: 1vw;
  margin-top: 2.5vw;
  border-bottom: 1px solid #ccc;
  /* margin-top: 3vw; */
}

.date-sec {
  padding-left: 1.9vw;
}

.datetext {
  left: 10vw;
  top: vw;
  display: flexbox;

  /* margin-left: -.4vw; */
  /* margin-right: 28vw; */
  padding-left: -3vw;
  color: rgb(0, 0, 0);
  position: absolute;
  /* padding-bottom: 24px; */
}

#date{
  -webkit-appearance: none;
  /* padding-right: 5vw; */
  appearance: none;
  border: none;
  margin-right: 14vw;
  bottom: 2;
  color: #2d333f;
  font: inherit;
  font-size: 14px;
  font-weight: 300;
  height: 24px;
  left: 0;
  /* margin-left: 1vw; */
  top: 0;
  width: 145px;
  padding-top: 1vw;
  margin-top: 2vw;
  border-bottom: 1px solid #ccc;
  /* margin-top: 3vw; */
}

#partySize {
  -webkit-appearance: none;
  /* padding-right: 5vw; */
  appearance: none;
  border: none;
  /* margin-right: 1vw; */
  bottom: 2;
  color: #2d333f;
  font: inherit;
  font-size: 14px;
  font-weight: 300;
  height: 24px;
  left: 0;
  /* margin-left: -1.2vw; */
  top: 0;
  width: 319px;
  /* padding-top: 1vw; */
  margin-top: 2vw;
  border-bottom: 1px solid #ccc;
  /* margin-top: 3vw; */
}

.partySize{
  left: 10vw;
  top: 4vw;
  display: flexbox;

  /* margin-left: -.4vw; */
  /* margin-right: 28vw; */
  padding-left: -3vw;
  color: rgb(0, 0, 0);
  position: absolute;
  /* padding-bottom: 24px; */
}

.form_reserv{
  background-color: white;
  /* padding-right: -16vw; */
  width: 19vw;
  height: 16vw;
  padding-bottom: -2.5vw;
  margin-top: -1vw;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}




h4 {
 /* justify-content: center; */
  /* margin-left: 2vw; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 1vw;
  margin-bottom: 1vw;
  padding-left: 75px;
  /* margin-right: 11vw; */
    border-bottom: .05px solid rgb(192, 187, 187);

}
