.user-info-pro {
    border-top: 1px solid rgb(235, 234, 234);
    margin-top: 1vw;
    /* color: red; */
    display: flex;
    padding-left: 15.5vw;
    padding-top: 3vw;
}

.circle-in {
    font-size: 32px;
    font-weight: 700;
    height: 9rem;
    line-height: 9rem;
    max-width: 9rem;
    width: 9rem;
    align-items: center;
    border-radius: 100%;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    background-color: #d86441;
    text-align: center;
    /* border: 1px solid black; */
}

.d-u-b{
    margin-bottom: 2vw;
}

#user-reviews{
    /* margin-top: 2vw; */
    /* border-top: solid 1px gray; */
    /* border-bottom: solid 1px gray; */
    /* max-height: 33vw; */
    /* color: red; */
    /* margin-top: 1vw; */
    /* width: 100%; */
}

.review-cont {
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
    margin-top: 2vw;
    margin-left: 8vw;
    margin-right: 8vw;
    /* position: absolute; */
    max-height: 400px; /* Set a fixed maximum height for the container */
    overflow-y: auto; /* Enable vertical scrolling when content overflows */
    /* padding-left  : 10px; Optional: Add padding for better spacing */
  }

#name-pro {
    margin-left: 2vw;
    font-size: 42px;
    padding-bottom: 2vw;
    color: rgb(51, 47, 47);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* .circle-out {
    
} */

.lo-under-name {
    display: flex;
    /* justify-content: flex-start; */
    /* margin: 0 4px; */
    /* margin-top: 5vw; */
    /* left: 2vw; */
    /* margin-left: 9vw; */
padding-bottom: 1.5vw;
}

.container-info {
margin-top: 2.5vw;
margin-left: -10.2vw;
/* padding-bottom: 2vw; */
}
.lo-icon{
    /* color: #2d333f;
    height: 1.1875rem;
    min-width: 0;
    display: inline-block;
    font-size: 0;
    height: 1.5rem;
    line-height: 1;
    min-width: 1.5rem;
    width: 1.5rem; */
    margin-top: 3vw;
}

.lo-text{
    margin-top: 2.1vw;
    color: rgb(82, 80, 80);
    font-weight: 100;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.join-date{
    margin-right: 2.1px;
    color: rgb(82, 80, 80);
    font-weight: 100;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.svg-ic{
    max-width: 2vw;
    max-height: 2vw;
    margin-top: -5vw;
}

.pic-pic {
    display: inline-block;
    font-size: 0;
    /* height: 2.5rem; */
    /* line-height: 1; */
    /* min-width: 1.5rem; */
    margin-top: 5px;
    margin-left: 5px;
    width: 1.6rem;
}

.pic-up-in {
    background: #fff;
    border: 0.0625rem solid #d8d9db;
    border-radius: 6.25rem;
    cursor: pointer;
    height: 2.5rem;
    padding: 0;
    width: 2.5rem;
    /* margin-right: 2vw; */
}

.pic-up-out {
    position: absolute;
    /* margin-bottom: 22vw; */
    left: 22.2vw;
    top: 15.5vw;
}