.review-list {
    display: flexbox;
    /* padding-left: 16vw; */
    margin-right: 8vw;
    padding-top: 1.5vw;
}
.review-container {
    display: flex;
    flex-direction: column;
    /* max-width: 48.5%; */
    margin-left: 18px;

    /* padding: 2px; */
    /* margin-bottom: px; */
    background-color: #fff;
    border-bottom: 1px solid #e6e6e6;
    /* border-radius: 20px; */
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
  }
  
  .review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }

  h3 {
    border-bottom: 1px solid #ccc;
    margin-left: 2vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 26px;
    font-weight: 700;
    padding-bottom: 1.7vw;
    margin-bottom: 1vw;
    margin-right: 11vw;
  }

  #nickname{
    font-size: 19px;
    width: 20vw;
    /* padding-bottom: -3px; */
    /* margin-bottom: 3vw; */
    /* max-height: 2px; */
  }

  #overall:focus,
  #value:focus,
  #ambience:focus,
  #service:focus,
  #food:focus,
  #body:focus,
  #nickname:focus,
textarea:focus {
  outline-color: red;
}

  #body {
    width: 19.5vw;
    height: 5vw;
    padding-bottom: 1vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 1.2px;
  }
  
  .review-nickname {
    font-weight: bold;
    margin-right: 8px;
  }
  
  .review-stats {
    display: flex;
    align-items: center;
    padding-right: 3px;
    /* margin-left: 2vw; */
  }
  
  .review-rating-star {
    color: #f9a825;
    font-size: 16px;
    margin-right: 4px;
  }
  
  .review-body {
    margin-top: 22px;
    padding-bottom: 25px;
    display: inline-block;
    font-size: 17px;
    font-weight: 300;
    line-height: 24px;
  }
  
  .review-overall {
    display: flex;
    /* margin-left: 1vw; */
    font-weight: bold;
    font-size: 14px;
  }

.review-food {
    display: flex;
    margin-right: 1vw;
    font-weight: bold;
    font-size: 14px;
}

.review-service {
    display: flex;
    margin-right: 1vw;
    font-weight: bold;
    font-size: 14px;
}

  .review-value {
    display: flex;
    margin-right: 1vw;
    font-weight: bold;
    font-size: 14px;
  }
  
  .review-date {
    font-size: 12px;
    letter-spacing: -0.3px;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif,
    'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 10px;
}


  .review-ambience {
    display: flex;
    margin-right: 1vw;
    font-weight: bold;
    font-size: 14px;
  }

.numberstat{
    color: red;
}
  
.review-details {
    margin-left: 9.5vw;
    margin-top: -4.8vw;
}

.reviewer-email {
  justify-content: center;
  margin-left: 15px;
  padding-top: 12px;
}

.reviewer-info{
    margin-top: 20px;
    max-width: 7vw;
    margin-left: 2vw;
}

.reviewer-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    background-color: red;
    margin-left: 10px;
    /* margin-top: 1vw; */
  }

.review-crud {
    background-color: #ffffff;
    height: 2.7vw;
    display: flex;
    margin-bottom: 1.7vw;
    max-width: 22vw;
}

.update-container {
  padding-left: .6cm;
}

.update-b {
  font-size: 12px;
  border-radius: 23px;
  color: rgb(0, 0, 0);
  border: .5px solid #d8d9db;
  border-color: rgb(169, 159, 159);
  background-color: white;
}

.full-form3{
  /* color: red; */
  /* display: flex; */
  /* height: 35vw; */
  border: 2.5px solid rgb(255, 0, 0);
  background-color: white;
  /* position: absolute; */
  /* right: 16vw;
  top: 2vw; */
  margin-left: 23vw;
  margin-top: -13vw;
  height: 33vw;
}

.full-form2{
  /* color: red; */
  /* display: flex; */
  /* height: 35vw; */
  border: 2.5px solid rgb(255, 0, 0);
}

.review-label{
  margin-right: 20vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  margin-top: -3vw;
  /* font-size: 1px; */
}

.label-div{
  padding-bottom: .6vw;
}

.dubR {
  border-bottom: 1px solid gray;
  font-size: 25px;
  padding-bottom: .6vw;
  margin-bottom: 1.6vw;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.update-b:hover {
  color: red;
  border-color: red;
}

.delete:hover {
  color: red;
  border-color: red;
}

.del-yes:hover {
  color: red;
  border-color: red;
}

.del-no:hover {
  color: red;
  border-color: red;
}

.del-no{
  font-size: 12px;
  border-radius: 23px;
  color: rgb(0, 0, 0);
  border: .5px solid #d8d9db;
  border-color: rgb(169, 159, 159);
  background-color: white;
  margin-left: 2vw;
  position: absolute;
  /* margin-bottom: 3vw; */
  top: 3.3vw;
  right: 6vw;
}

.del-yes {
  position: absolute;
  font-size: 12px;
  border-radius: 23px;
  color: rgb(0, 0, 0);
  border: .5px solid #d8d9db;
  border-color: rgb(169, 159, 159);
  background-color: white;
  /* margin-bottom: 7px; */
  margin-top: 2vw;
  /* padding-right: 1vw; */
  top: 1.2vw;
  right: 13vw;
}



.delete-con {
  position: absolute;
  /* padding-top: 5vw; */
  margin-top: 3.5vw;
  background-color: rgb(255, 255, 255);
  border: 3px solid rgb(255, 0, 0);
  /* display: flex; */
  /* bottom: 3vw; */
  height: 6vw;
  border-radius: 30px;
  font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
  font-weight: 200;
}

.deleteor {
  /* width: 23vw; */
  padding-top: 2vw;
  margin-left: 3vw;
  margin-right: 3vw;
  font-size: 12px;
  
}

.delete{
  font-size: 12px;
  border-radius: 23px;
  color: rgb(0, 0, 0);
  border: .5px solid #d8d9db;
  border-color: rgb(169, 159, 159);
  background-color: white;
  margin-bottom: 7px;
  /* padding-right: 1vw; */
}

/* .rev */