.navbar {
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #F7F7F7; */
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  height: 3rem;
  justify-content: space-between;
  padding: 0 16px;
  position: relative;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

.businesses {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.Navpage {
  width: 100%;
  margin: 0;
}
  

.businesses{
  background-color: rgb(237, 237, 237);
  height: 3.8ch;
}
  nav {
    display: block;
    /* height: fit-content; */
    }
  
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
  }

  
  .nav-item {
    margin: 0 10px;
  }
  
  .nav-link {
    font-size: 18px;
    color: #333;
    text-decoration: none;
  }
  
  .nav-link:hover {
    color: #000;
  }

  /* .nav-logo {
    display: flex;
    align-items: center;
    font-size: px;
    height: 49px;
    padding-right: 10px;
} */

.nav-logo-img {
    height: 228px;
    /* size: -399pc; */
    position: absolute;
    bottom: -6.6pc;
    left: -34px;
    /* align-self: left; */
}

.nav-links {
    margin-right: 15px;
    margin-top: -2px;
}

  
.authbuttons {
    margin-top: .4vw;
    align-items: center;
    display: flex;
    height: 100%;
    opacity: 1;
    transition: opacity .4s ease-in-out;
    margin-left: 83vw;
    }

    button, input {
        overflow: visible;
    }

    button, select {
        text-transform: none;
    }

.s-up-words{
  width: 2.5vw;
  /* display: flex; */
        font-size: 10.1px;
        font-weight: 100;
}

.login {
        background-color: initial;
        border: 0.0625rem solid #d8d9db;
        color: #2d333f;
        /* font-size: 12px; */
        margin: 0;
        /* height: 2.3vw;
        display: flex;
        font-weight: 100; */
        /* text-align: start; */
    }

.signup {
    background-color: #2f8aa8;
    border: 0.0626rem solid #2c86a4;
    color: #fff;
    /* font-size: 14px; */
    margin: 0 8px;
}

button {
    font-size: 20px;
    padding: 10px 17px;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
    display: flex;
    cursor: pointer;
  }
 
  button[type="user"] {
    background-color: transparent;
    color: #fff; 
    padding: 10px 20px; 
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
  }

  .location_route {
    background-color: white;
    width: 100% vw;
    border: 1px solid #E9E9E9;
    height: 3.7vh;
    margin-top: 2vw;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    cursor: pointer;
  }

  .nav-wrap {
    /* margin-top: 2vw; */
    max-width: 100vw;
    max-height: 100vw;
  }


  .link-style {
    text-decoration: none;
    color: cornflowerblue;
    cursor: pointer;
  }


  .nav-main {
    background-image: url('https://besthqwallpapers.com/Uploads/22-4-2019/88252/blue-wooden-planks-wooden-blue-texture-blue-wooden-background-wood.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 10.4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -2.5vw;
    margin-bottom: 1vw;
  }

  .earned{
    font-size: 11px;
    color: lightgray;
    padding-bottom: 5px;
    /* margin-top: -2vw; */
  }

  .fa-magnifying-glass {
      margin-top: .5vw;
  }

  #magni  {
    /* color: rgb(0, 0, 0);
    margin-top: 1.2vw;
    font-size: 20px;
    padding-left: -1vw;
    margin-right: 1vw; */
    /* font-weight: 500; */
  }

  .fa-magnifying-glass2{
    /* padding-right: 21vw; */
  }

  .pts-num {
    padding-right: 4px;
    /* font-size: 100; */
    color: rgb(0, 0, 0);
  }

  .nexre{
    font-size: 11px;
    color: lightgray;
    /* padding-bottom: 7px; */
    margin-top: .6vw;
  }

  .next-e{
    margin-left: 13.5vw;
    /* display: flex; */
  }

  .earnings {
    display: flex;
  }
  
  .pts {
    padding-left: 4px;
    /* font-size: 100; */
    color: lightgray;
  }

  .learn {
    margin-left: 1vw;
    padding-top: 1vw;
    padding-bottom: 1.3vw;
    color: red;
    font-size: 14px;
    border-bottom: 1px solid gray;
    font-family: BrandonText,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-weight: 300;
  }

  .pts-bar {
    background-color: #efefef;
    border-radius: 4px;
    /* display: flex; */
    height: 0.5rem;
    margin: 8px 0;
    overflow: hidden;
    width: 92%;
    margin-left: 1vw;
    /* bottom: 5vw; */
    /* margin-bottom: 2px; */
  }
  
  .pts1 {
    display: flex;
    /* padding-left: -11px; */
    /* font-size: 100; */
    padding-top: .34vw;
    margin-left: -.1vw;
    color: lightgray;
  }

  .nav-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100vw;
    margin-top: -4ch;
  }
  
  .findtable {
    font-size: 55px;
    font-weight: bold;
    margin-top: 2vw;
    color: white;
    margin-bottom: 20px;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    letter-spacing: 0.06ch;
    margin-bottom: 0.4ch;
  }
  
  .date_selector {
        background-color: #F5F5F5;
        border: 1px solid #E9E9E9;
        border-radius: 4px;
        color: #555;
        font-size: 16px;
        padding: 12px 16px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 18px
        /* width: px; */ 
    /* font-size: 18px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 20px;
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #000000;
    width: 120px;
    text-align: center; */
    }
    
    .time_selector {
        background-color: #F5F5F5;
        border: 1px solid #E9E9E9;
        border-radius: 4px;
        color: #555;
        font-size: 16px;
        padding: 12px 16px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 18px
        /* width: 200px; */
      }
      
      
      
    
    .num_of_ppl_selector {
        background-color: #F5F5F5;
        border: 1px solid #E9E9E9;
        border-radius: 4px;
        color: #555;
        font-size: 16px;
        padding: 12px 16px;
        width: 200px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 18px
    }
    .navinput{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 40vw;
        margin-left: -20px;
        margin-right: -20px;
      }
 
      .nav_search_input {
        font-size: 18px;
        width: 250px;
        background-color: white !important;
        height: 1.4cm;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
      }
      
  
  
      .submit {
        background-color: red;
        border-radius: 4px;
        color: white;
        font-size: 16px;
        padding: 12px 16px;
        width: 200px;
        height: 1.3cm;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        /* position: absolute; */
        /* left: ; */
      }
      

      .current-loca {
        align-items: center;
        display: flex;
        height: 95%;
        list-style: none;
        margin-right: 1.3125rem;
        position: relative;
        padding-top: -10rem;
        margin-top: 0.6rem;
        /* padding-bottom: 2rem; */
    }
    
    .current-loca:not(:last-child)::before {
        border-bottom: 1rem solid #0000;
        border-left: .6rem solid #0003;
        border-top: 1rem solid #0000;
        top: -.0625rem;
        content: "";
        left: 100%;
        margin-left: .25rem;
        position: absolute;
    }
    
    .current-loca:not(:last-child)::after {
        border-bottom: .96rem solid #0000;
        border-left: .56rem solid #fff;
        border-top: .96rem solid #0000;
        top: 0;
        content: "";
        left: 100%;
        margin-left: .25rem;
        position: absolute;
    }
    
    .current-loca p {
        color: #247f9e;
        font-size: 11px;
        font-weight: 300;
    }   

  
    .nav-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 90vw;
        margin-top: 2.4vw;
        /* margin-right: -20px; */
      }
  

  .calendarContainer {
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
    width: 250px;
    height: 250px;
    display: inline-block;
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.nav_select{
    margin-left: 12vw;
    display: flex;
    background-color: white;
    border-radius: 34pc;
    height: 1.38cm;
    border: 1px solid black
}

#language-select{
  background-color: transparent;
  border: 1px solid #E9E9E9;
  border-radius: 4px;
  color: #555;
  font-size: 10px;
  text-align: right;
  margin-right: 1vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.github{
  margin-right: 2.4vw;
}


.search-button{
  background-color: white;
}

.midd{

}

.fa-bell {
  /* width: 53vw;  */
  /* color: red; */
   /* height: 12px; */
   padding-bottom: .3vw;
   font-size: 20.5px;
   /* padding-right: 1vw; */
}

.fa-calendar {
  /* width: 53vw;  */
  /* color: red; */
   /* height: 12px; */
   padding-bottom: .4vw;
   font-size: 20.5px;
   /* padding-right: 1vw; */
}

.calander-button {
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
  /* background-color: transparent; */
  /* background: rgb(242, 240, 240); */
  border-radius: 50%;
  width: 25px;
  height: 25px;
  /* font-size: 24px; */
  margin-top: 9px;
  /* border: 1px solid grey; */
  /* margin-left: 3em; */
  /* padding-left: 3ch; */

}

.profile-button {
  display: flex;
  margin-left: 38vw;
  align-items: center;
  justify-content: center;
  /* position: relative; */
  /* background-color: transparent; */
  background: rgb(242, 240, 240);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  /* font-size: 24px; */
  margin-top: 3px;
  border: 1px solid grey;
  /* margin-left: 3em; */
  /* padding-left: 3ch; */

}

.user_logged{
  display: flex;
  /* background-color: #2c86a4; */
  justify-content: space-between;
  position: center;
  margin-top: 0.7vw;
  padding-right: vw;
  margin-right: -46.5vw;
  border-right: 1px solid gray;
  /* margin-top: ; */
  /* letter-spacing: 3vw; */
}

.profile1 {
  padding-right: 1vw;
  /* size: 2vw; */
  /* font-size: 21vw; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.dropdown-user {
  margin-bottom: 15px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 21px;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.4px;
  text-size-adjust: 100%;
  color: rgb(45, 51, 63);

}

.learn:hover {
 cursor: pointer;
}

.current-e {
  margin-left: 1vw;
  padding-top: 8px;
}

.my-button-logout:hover {
  background-color: rgb(235, 233, 233);
}

.my-button-logout {
  background-color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 10;
  color: red;
  font-size: 14px;
}

.user-button:hover{
  background-color: rgb(235, 233, 233);
}

.user-button {
  align-items: flex-start;
  /* box-sizing: border-box; */
  /* display: block; */
  padding-bottom: 12px;
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  /* position: relative; */
  font-size: 15px;
  font-weight: 100;
  /* font-stretch: 100%; */
  line-height: 18.4px;
  letter-spacing: .4px;
  text-align: left;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* font-family: BrandonText,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol; */
  /* text-size-adjust: 100%;
  color: rgb(45, 51, 63); */
  background-color: rgb(255, 255, 255);
}

.pro-btn-text{
  font-size: 16px;
  margin-right: -2px;
}

.profile-icon {
  font-size: 1.5rem;
  cursor: pointer;
  background-color: transparent; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.calander-icon {
  font-size: 1rem;
  cursor: pointer;
  background-color: transparent; 
}

.profile-dropdown {
  background-color: #fff;
    border-radius: 0.1875rem;
    box-shadow: 0 0 0 0.0625rem #0000001a;
    display: flex;
    flex-direction: column;
    /* width: 43vw; */
    margin-top: 12px;
    max-height: 80rem;
    margin-right: 11.3vw;
    position: absolute;
    right: 0;
    top: 100%;
    /* transition: transform .15s ease-out,opacity .15s ease-out,position .15s ease-out,max-height 0s; */
    width: 21.575rem;
    z-index: 100;
}
.profile-dropdown::before {
  background: #0000;
  border-color: #fff #0000 #0000 #fff;
  border-style: solid;
  border-width: 0.375rem;
  box-shadow: -0.0625rem -0.0625rem 0 0 #00000026;
  content: "";
  display: block;
  height: 0;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  right: calc(29px - 0.125rem);
  top: -0.275rem;
  transform: rotate(45deg);
  width: 0;
}
.profile-dropdown li {
  text-align: right;
  margin: 5px;
}

.fa-user {
  font-size: 0.6em;
  margin-left: 2pxx;
}
